.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
.gitignore
lefthook.yml
.prettierignore
*.css
*.ttf
*.md

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
